.header {
	height:50px;
	width:350px;
	text-align: left;
}
img {
	max-width:100%;
	height:auto;
	border-radius:25px;
	opacity:80%;
}
h2{
	color:darkslategrey;
}
h3{
	color:darkslategrey;
}
.flex-container {
	display:flex;
}
.firstSec {
	padding:10px;
	background-color:lavender;
	height:1000px;
	width:250px;
	font-family: Arial, Helvetica, monospace;
}
.secondSec {
	background-color:white;
	padding-left:50px;
	height:800px;
	width:500px;
	font-family:Arial, Helvetica, monospace;		
}
hr{
	height:2px;
	color:indigo;
}
html, body {
	min-height:100%;
	max-width: 100%;
		
}
